@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  font-family: 'DM Serif Display', serif;
}

.weather-card {
  background-color: #ffddbb;
  padding: 30px;
  margin-top: 50px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.weather-card input {
  margin-bottom: 15px;
}

#searchbtn {
  float: right;
  position: relative;
  top: -37px;
  border-radius: 20px;
  right: 2px;
}

.weather-icon {
  margin-bottom: 20px;
}

#wicon {
  font-size: 80px;
}

.weather-details, .additional-details {
  margin-top: 20px;
}

.weather-details h2, .weather-details h4 {
  margin: 10px 0;
}

.additional-details h4 {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .weather-card {
    padding: 20px;
    margin-top: 30px;
    border-radius: 15px;
  }
  
  #searchbtn {
    top: -30px;
    right: 5px;
  }
  
  .weather-details h2, .weather-details h4, .additional-details h4 {
    margin: 5px 0;
  }
}
